img{
    height: 400px;
    width: 500px;
}
.b img{
    height: 300px;
    width: 400px;
}
.a img{
    height: 350px;
    width: 400px;
}
.slide .view1{
    background: green;
}

.slider-container{
    border: 5px solid var(--clr-primary-5);
    width: 80vw;
    margin: 0 auto;
    height: 58vh;
    max-width: 80rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;     
    margin-top: 4rem;
    background: greenyellow;
}

.slider-container ,.b{
    display: flex;
}

.slide{
    position: absolute;     
   background: var(--clr-primary-9);
   color: var(--clr-white);
    display: grid; 
   place-items: center;
   transition: all 0.25s ease-in-out;
   text-align: center;
}

.slide h1{
    font-size: 3rem;
}
.person-img{
    /* border-radius: 50%; */
    /* width:400px; */
    /* height: 400px; */
    margin: 0 auto;
    margin-bottom: 1rem;
} 

.btn-container{
    display: flex; 
    justify-content: center;
    margin-top: 0.75rem;
}

.prevBtn{
    background: transparent;
    border-color: aliceblue;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: aqua;
    transition: var(--transition);
}

.nextBtn {
background: transparent;
    border-color: aliceblue;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: aqua;
    transition: var(--transition);
}