#container{
    width: 700px;
    margin: 2px auto;
    background-color: aqua;
    padding: 20px;
}
input[type='button']{
    width:90px;
    height: 35px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}
select{
    width: 150px;
}
#us_states{
    display: none;
}

#Ghana_states{
    display: none;

}

#Nigeria_states{
    display: none;
}